doctype html
html
 head
  title Pg/Rental System
  style
   include ../static/style.css
 body
  nav#navbar
   ul
    div#logo
     img(src="https://www.roomsoom.com/blog/wp-content/uploads/2018/09/0x0ss-85.jpg", alt="Rent Logo")  
     p Apka PG
    li #[a(href="/") Home]   
    li #[a(href="/") About Us]
    li #[a(href="/") Services]
    li #[a(href="/") Contact Us]