*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar{
    background-color: black;

}

ul{
    display: flex;
    align-items: center;
}

#logo{
    display: flex;
    font-size: 28px;
    margin: 11px 10px;
}

p{
    font-size: 17px;
    padding: 21px 5px;
    color: white;
}

li{
    list-style: none;
    padding:20px;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 24px;
    color: white;
    padding: 5px;
    font-family: cursive;
}

img{
    height: 60px;
    filter: invert(1);
}

a:hover{
    background-color: white;
    color: black;
    border-radius: 8px;
    
}
